// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.is-invalid,
.wpcf7-not-valid {
  border: 1px solid $red;
}

.wpcf7-not-valid-tip {
  display: none !important;
}

.bg-info {
  background: rgba(0, 0, 0, 0.8) !important;
  color: white;
}