@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800,900');

body {
  font-family: 'Raleway', sans-serif;
}



b,
strong {
  font-weight: 600;
}

*:focus {
  outline:0;
}

a:active,
a:focus {
  color: inherit!important;
}

.heading_with_line {
  display: inline-block!important;
  font-size: 42px!important;
  font-weight: 800!important;
  color: $black!important;
  margin-bottom: 60px!important;

  &:after {
    content: '';
    width: calc( 100% + 70px );
    height: 13px;
    display: block;
    position: relative;
    left: -35px;
    top: 10px;
    background: url(../images/heading_line.png) no-repeat;
    background-size: cover;
  }

}

.et_divi_builder #et_builder_outer_content .et_pb_module h3.heading_with_line{
  display: inline-block!important;
  padding-left: 35px;
}

.et_divi_builder #et_builder_outer_content .et_pb_module h4.heading_with_line{
  font-size: 25px!important;
  display: inline-block!important;
  padding-left: 35px;
}





.btn-border {
  border: 2px solid #000;
  font-size: 16px;
  color: #000;
  font-weight: 600;
  padding: 12px 20px;
  transition: all .4s;

  &:hover {
    background: $black;
    color: $white;
    text-decoration: none;
  }

}

h4 {
  font-size: 24px;
  font-weight: 800;
  color: $black;
}

h5 {
  color: $red;
  font-size: 24px;
  font-weight: 800;
}

.et_divi_builder #et_builder_outer_content .et_pb_row {
  max-width: 1200px!important;
}





