// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$black: #000;
$white: #fff;
$gray: #727272;
$dark-gray: #272727;
$light-gray: #e8e8e8;
$red: #e63511;