footer {
  background: $black;
  color: $white;
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;

  &:before {
    content: '';
    width: 100%;
    height: 26px;
    position: absolute;
    top: -26px;
    background: url(../images/footer_top.png) center no-repeat;
  }

  p {
    margin-bottom: 0;
  }

  a {
    color: $white;

    &:hover{
      color: inherit;
      opacity: .8;
    }
  }

}