.header {
  background: $black;
  position: relative;
  padding-top: 35px;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 68px;
    position: absolute;
    background: url(../images/menu_bg.png) center no-repeat;
    z-index: 2;
  }

  .navbar {
    padding: 0 1rem 0;
    flex-direction: row;


    .menu-item {
      margin-left: 10px;
      margin-right: 10px;

      a {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: $white;
        padding: .5em 1em;

        &:hover {
          background: url(../images/menu_active.png) center bottom no-repeat;
          text-decoration: none;
        }

      }

      &.current-menu-item {
        background: url(../images/menu_active.png) center bottom no-repeat;
      }


      .dropdown-menu {

        a {
          color: $black;
        }

      }

    }


  }

  .face_holder {
    margin-left: 15px;
    margin-right: 20px;
    position: relative;
    top: 3px;

    a {
      color: $white;
      font-size: 27px;
      transition: all .4s;

      &:hover {
        opacity: .8;
      }

    }

  }


  .language_holder {
    position: relative;
    top: 4px;

    .btn {
      background: transparent;
      color: white;
      border: 0;
      border-left: 1px solid rgba(255,255,255,.7);
      border-radius: 0;
      font-weight: 600;

      &:focus {
        outline:0;
        box-shadow: none;
      }

    }

    .dropdown-menu {
      width: 55px;
      min-width: inherit;
      top: 35px;
      left: 7px;
      background: black;
    }

    .dropdown-item {
      padding: 3px 10px;
      color: white;

      &:focus,
      &:hover {
        color: black;
      }

      &.active, &:active {
        color: black;
        text-decoration: none;
        background-color: #f7f7f9;
      }

    }

  }


}