.et_divi_builder #et_builder_outer_content .et_pb_module a {
  color: $red;
}

.home_slider_holder {
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size:cover!important;
  overflow: hidden;


  .home_slider_img_holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .home_slider_text {
      opacity: 0.85;
      z-index: 2;
      position: relative;

    h1 {
      background: url(../images/slider_heading_bg.png);
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -6px;
      z-index: 2;
      padding: 64px 62px;
      margin: 0;
      color: #fff;
      font-size: 38px;
      font-weight: 900;
    }

    .slider_right_side {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      left: -50px;
      z-index: 2;
    }

    .event_holder {
       color: #fff;
       background: url(../images/event_bg.png) no-repeat;
       max-width: 437px;
       padding: 60px 27px 61px 46px;


      .event_date {
        font-weight: 900;
        font-size: 46px;
        margin:0;
      }

      .event_place {
        font-weight: 900;
        font-size: 66px;
        margin:0;
      }

      h3 {
        font-weight: 300;
        font-size: 34px;
        text-align: center;
      }

    }

    .video_holder {
      background: url(../images/video_bg.png);
      padding: 34px 26px;
      max-width: 271px;
      text-align: center;
      margin: 0 auto;
      position: relative;
      top: -16px;
      left: -5px;
      transition: all .4s;

      a {
        font-size: 20px;
        font-weight: 800;
        color: $white;
        position: relative;
        padding-left: 70px;

        &:before {
          content: '';
          width:50px;
          height:50px;
          display: inline-block;
          background: url(../images/ico_play.png);
          position: absolute;
          top:-14px;
          left:0;
          vertical-align: middle;
        }

      }

      &:hover {
        opacity: .85;
      }

    }

  }


  &:after {
    content: '';
    display: block;
    height:31px;
    width:100%;
    background: url(../images/slider_sep.png);
    position: absolute;
    bottom:0;
    z-index: 2;
  }

  .home_slider_overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;
  }


}


.homepage_section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.program_holder {
  padding-bottom: 140px;
}

.program_item {
  width:100%;
  max-width: 365px;
  display: inline-block;
  padding: 30px 25px 50px;
  border: 3px solid $black;

  h4 {
    font-size: 30px;
    font-weight: 800;
    color: $black;
    position: relative;
    margin-bottom: 50px;

    &:before {
      content: '';
      width:76px;
      height:73px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -8px;
      margin-right: 24px;
    }

  }

  &.military h4:before {
    background: url(../images/ico_military.png) no-repeat;
  }

  &.fitness h4:before {
    background: url(../images/ico_fitko.png) no-repeat;
  }

  &.bojova_umeni h4:before {
    width:84px;
    height:80px;
    background: url(../images/ico_boj.png) no-repeat;
  }


  ul {
    position: relative;
    padding:0 0 0 32px;
    margin:0 0 23px 0;
    list-style-type: none;
    font-size: 16px;
    color: $black;
    font-weight: 600;


    &:before {
      content: "";
      width: 2px;
      height: calc(100% + 80px);
      display: block;
      background: $black;
      position: absolute;
      top: -40px;
      bottom: 0;
      margin-left: 4px;
    }

    li {
      position: relative;
      padding-left: 30px;
      text-indent: -30px;
      margin-top: 20px;
      margin-bottom: 20px;

      &:before {
        content: '';
        width: 10px;
        height: 30px;
        display: inline-block;
        background: $white url(../images/ico_list.png) center no-repeat;
        vertical-align: middle;
        position: relative;
        top: -3px;
        margin-right: 20px;
      }

    }

  }

  .btn-border {
    margin-left: 63px;
    position: relative;
    top:5px;

    &:before {
      content: '';
      width: 15px;
      height: 2px;
      display: inline-block;
      background: $black;
      position: absolute;
      left: -29px;
      top: 21px;
    }

  }


  &.program_item_black {
    background: $black;
    color: $white;
    max-width: 425px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 35px 25px 60px;

    h4 {
      color: $white;
    }

    ul {
      color: $white;

      &:before {
        background: $white;
      }

      li {

        &:before {
          background: $black url(../images/ico_list.png) center no-repeat;
        }

      }

    }

    .btn-border {
      color: $white;
      border-color: $white;
      transition: all .4s;

      &:before {
        background: $white;
      }


      &:hover {
        background: $white;
        color: $black;
      }

    }



  }

}


.popis_akce_holder {
  position: relative;
  background: $light-gray;
  font-size: 18px;
  color: $black;

  &:before {
    content: '';
    width:100%;
    height: 50px;
    display: block;
    background: url(../images/popis_top.png) center no-repeat;
    position: absolute;
    top: -50px;
  }

  &:after {
    content: '';
    width:100%;
    height: 20px;
    display: block;
    background: url(../images/popis_bottom.png) center no-repeat;
    position: absolute;
    bottom: -20px;
    z-index: 15;
  }


  .heading_with_line {
    &:after {
      transform: scale(-1, 1);
    }
  }

  .popis_text {
    max-width: 920px;
    margin: 0 auto;
  }

}

.home_kontakt_holder {
  font-size: 18px;
  color: $black;
  position: relative;

  &:before {
    content: '';
    width:100%;
    height: 22px;
    display: block;
    background: url(../images/kontakt_top.png) center no-repeat;
    position: absolute;
    top: -22px;
  }

  .home_kontakt_info {

    p {
      margin-bottom: 30px;
    }

    h5 a {
      color: $red;
    }

  }

}


.reference_holder {
  position: relative;

  .carousel-item {
    max-height: 688px;
    align-items: center;

    img {
      height: 100%;
    }

    .reference_overlay{
      background: rgba(0,0,0,.5);
      position: absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
    }

    .carousel-caption {
      max-width: 750px;
      position: absolute;
      right: 0;
      bottom: inherit;
      left: 0;
      margin-left: auto;
      margin-right: auto;

    }

    .ref_text {
      font-size: 28px;
      font-weight: bold;

      &:before {
        content: '';
        display: block;
        width: 42px;
        height: 35px;
        margin:0 auto 30px;
        background: url(../images/ico_quote.png) center no-repeat;
      }

    }

    .ref_autor {
      padding-top: 20px;
      font-size: 18px;
      border-top: 2px solid $red;
    }

  }

  .carousel-indicators{
    bottom: 30px;

    li {
      max-width: 18px;
      height: 18px;
      background: url(../images/nav_item.png) 0 0 no-repeat;

      &.active {
        background: url(../images/nav_item.png) -18px 0 no-repeat;
      }

    }
  }

}

.page_foto_holder {
  height: 350px;
}

.page_content_holder {
  padding-top: 70px;
  padding-bottom: 70px;

  .page-header {
    padding-left: 35px;
  }


}

.gallery_item_holder{
  margin-top: 30px;
  margin-bottom: 30px;


  &.gallery_gray_bg{
    position: relative;
    background: $light-gray;
    color: $black;

    &:before {
      content: '';
      width:100%;
      height: 50px;
      display: block;
      background: url(../images/popis_top.png) center no-repeat;
      position: absolute;
      top: -50px;
    }

    &:after {
      content: '';
      width:100%;
      height: 20px;
      display: block;
      background: url(../images/popis_bottom.png) center no-repeat;
      position: absolute;
      bottom: -20px;
      z-index: 15;
    }
  }



  h3 {
    font-weight: bold;
    color: $black;
  }

  .gallery_foto_holder {
    text-align: right;
    
    a {
      display: inline-block;
      max-width: 12.4%;
      margin-right: 0.1%;
      margin-bottom: 7px;
      text-decoration: none;

      img {
        width: 100%;
      }

      &:hover {
        text-decoration: none;
      }

    }

  }
}


