@media (max-width: 1600px){

  .home_slider_holder {
    height: 600px;
  }

}

@media (max-width: 1400px){
  .reference_holder .carousel-item .ref_text {
    font-size: 20px;
  }

  .reference_holder .carousel-item .ref_autor {
    font-size: 15px;
  }

}

@media (max-width: 1350px){

  .home_slider_holder {
    height: 500px;

    .home_slider_text {

      h1 {
        background-size: contain;
        padding: 38px 47px;
        font-size: 31px;
      }


      .event_holder {
        background-size: contain;
        padding: 39px 40px;

        .event_date {
          font-size: 31px;
        }

        .event_place {
          font-size: 43px;
        }

        h3 {
          font-size: 26px;
        }
      }

      .video_holder {
        background: url(../images/video_bg.png);
        background-size: contain;
        padding: 22px 29px;
        max-width: 191px;
        top: -14px;
        left: 0px;

        a {
          font-size: 17px;
          padding-left: 32px;
          font-weight: 600;

          &:before {
            content: "";
            width: 30px;
            height: 30px;
            background-size: contain;
            position: absolute;
            top: -5px;
            left: -7px;
            vertical-align: middle;
          }

        }

      }

    }

  }

  .program_item {
    max-width: 31%;
    padding: 30px 17px 50px;
    vertical-align: top;

    h4 {
      font-size: 24px;

      &:before {
        width: 52px;
        height: 50px;
        background-size: contain !important;
      }

    }

    &.bojova_umeni h4:before {
      width: 60px;
      height: 60px;
      left: -3px;
    }

    &.program_item_black {
      max-width: 34%;
      padding: 35px 17px 60px;
    }

    ul {
      padding: 0 0 0 20px;
      font-size: 15px;
    }

    .btn-border {
      margin-left: 51px;
    }


  }


}

@media (min-width: 1230px) {

  .container {
    max-width: 1230px;
    width: 100%;
  }

  ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    position: absolute;
    top: 42px;
  }

}


@media (min-width: 1200px){

  .menu_holder{
    margin-left: auto!important;
  }

}

@media (max-width: 1199px){


  .navbar-collapse.collapse {
    display: none!important;
  }

  .collapse.show {
    display: block !important;
    padding: 0;
  }

  .header .navbar .menu-item {
    margin-left: 0;
    margin-right: 0;

    a {
      padding-right: 0;
      padding-left: 0;

      &:hover {
        background: transparent;
      }

    }

    .dropdown-menu {
      a {
        padding-right: 10px;
        padding-left: 10px;
      }
    }


    &.current-menu-item {
      background: transparent;

      a {
        display: inline-block;
        background: url(../images/menu_active.png) bottom no-repeat;
      }

    }


  }




}




@media (max-width: 991px){

  .home_slider_holder {

    .home_slider_img_holder {
      background: url(../images/slider_hp.jpg) center no-repeat / cover;

      #pictures-demo {
        display: none;
      }

    }

    .home_slider_text {
      text-align: center;

      h1 {
        display:block;
      }

      .slider_right_side{
        left: inherit;
      }

    }

  }
  
  .program_item {
    max-width: 100%;
    width: 100%;
    padding: 30px 17px 50px;
    vertical-align: top;

    h4 {
      font-size: 28px;

      &:before {
        width: 76px;
        height: 73px;
        background-size: contain !important;
      }

    }

    &.bojova_umeni h4:before {
      width: 84px;
      height: 80px;
      left: -3px;
    }

    &.program_item_black {
      max-width: 100%;
      padding: 35px 17px 60px;
      margin: 30px 0;
    }

    ul {
      padding: 0 0 0 32px;
      font-size: 17px;
    }

    .btn-border {
      margin-left: 63px;
    }

  }

  .reference_holder {
    background: url(../images/slider_hp.jpg) center no-repeat / cover;

    .carousel-item {
      height: 688px;

      .carousel-caption {
        max-width: 60%;
      }
    }


  }

  .home_slider_holder .home_slider_text .event_holder {
    background-size: contain;
    padding: 39px 40px 39px 31px;
  }


}


@media (max-width: 768px){

  .home_kontakt_info {
    margin-top: 30px;
  }


  .reference_holder {

    .carousel-item {
      height: 500px;

      .carousel-caption {
        max-width: 60%;
      }

      .ref_text {
        font-size: 17px;
      }
    }


  }

}


@media (max-width: 660px){

  .home_slider_holder .home_slider_text h1 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 34px 115px;
    font-size: 27px;
  }

  .navbar-brand {
    max-width: 228px;
    position: relative;
    left: -20px;

    img {
      width:100%;
    }

  }

  .navbar-toggler-right {
    position: absolute;
    right: 0;
  }

  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
    width: 90%;
  }

}

@media (max-width: 470px){
  .home_slider_holder .home_slider_text h1 {
    padding: 31px 25px;
    font-size: 24px;
  }

  .heading_with_line {
    font-size: 33px!important;
  }

}
